Body {
    background-image: url("images/puppy.jpg");
    /* padding: ; may be the reason for some of my errors*/
}

.MainContent {
    background-color: wheat;
    border-radius; 10px;
    border-style: double;
    padding: 15px;
    width: 80%;
   /* float: left;  fucks up everything */
}

#Second {
    background-color: wheat;
    width: 100%;    
    border-style: double;
    margin: auto;
    
    
}

#Left {
/*    border-style: double; */
    width: 50%;
    float: left;
    border-right-style: double;
    text-align: center;
}

#Right {
  /* border-style: double; */
  /* float: right; */
   width: 50%;
   margin-left: 50%;
   text-align: center;
}

.foot {
    background: rgba(255, 212, 128, 0.9);
    text-align: center;
    position: bottom;
    border-radius: 1px;
}

.topBtn {
    display: none; /*This works but the javascript will not unhide the button upon scrolling  */ 
    position: fixed;
    bottom: 20px;
    right: 5px;
    z-index; 99;
    border:none;
    outline: none;
    background-color: rgba(255,0,0,0.9);
    color: white;
    cursor: pointer;
    padding: 7px;
    border-radius: 5px;
    font-size: 14px;
}

.topBtn:hover {
    background-color: grey;
}

.FBfeed {
    float: right;
   
}

#Rescue {
    background-color: rgba(255, 255, 255, 1.0);
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb (45, 31, 6);
    width: 205px;
    height: 40px;
    font-size: 30px;
}

